.home, .companyInfo, .content, .middleDiv, .request {
  display: flex;
}

@mixin center {
  justify-content: center;
  align-items: center;
}


.home {
  flex-direction: column;
  height: 100%;


  .content {
    @include center;
    background-color: #F7F9FA;
    height: 100%;
    padding: 20px;
    
    .middleDiv {
      flex-direction: column;
      align-items: center;
      width: min-content;
      gap: 20px;

      .loading {
        font-size: 30px;
      }

      .request {
        @include center;
        margin-top: auto;
        gap: 10px;
        width: 100%;
        padding: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    
  
    .notLoaded {
      width: 50rem;
      height: 25rem;
    }
  }
}