.customModal {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;  
  height: 25rem;
  width: 30rem;
  padding-top: 4rem;
  gap: 20px;
  

  & > span {
    font-weight: bold;
    font-size: 20px;
  }

  img, .closeIcon {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }

  .closeIcon {
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
  }

  img {
    top: -5rem;
    border-radius: 100%;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }
  .title {
    font-size: 23px;
    margin-bottom: 5px;
  }
}