@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root, .App { height: 100%; }

.Home-modal-7 {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.Home-modal-8 {
  background-color: white;
  padding: 10px;
}