@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Serif', 'Montserrat', sans-serif;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root, .App { height: 100%; }

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}